/* GAMES PAGE */
#gamesBody{
    background: linear-gradient(to right, #180000, #100000, #240000, #270000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

#gamesBody dd{
    margin-bottom:1em;
}

#gamesBody dt{
    font-weight:700;
}

.gamesMain a:visited{
    color:red;
}

.gamesMain a:active{
    color:black;
}

.gamesMain a:hover{
    text-decoration: underline;
}


/*The following code was taken from https://codepen.io/P1N2O/pen/pyBNzX in hopes to make a more visually appealing background, 
so I looked up how to animate linear backgrounds, and found this one.*/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*End quote*/

.gameJump{
  display:flex;
  flex-direction: column;
}

.gameJump a{
    margin-bottom:1em;
    padding:0.5em;
    background-color:rgb(32, 0, 0);
    border-radius:10px;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.5);
}

.gamesMain h2{
  font-size:2.2rem;
}

#game-genres{
  display:flex;
  flex-direction: column;
}

.gamesMain a{
  text-decoration: none;
  color:white;
  font-size:1.4rem;
}

.gamesMain a:hover{
  font-weight:600;
}

.gamesContainer{
  display:flex;
  flex-direction:column;
}

.gamesContainer p{
  font-size:1.4rem;
}

.gamesList{
  display:flex;
  text-align:left;
  background:linear-gradient(to bottom right,#2e0000, #9b0000, #630000);
  background-size: 400% 400%;
  margin-bottom:3em;
  border-radius:30px;
  padding:1em;
}

.gamesList h3{
  font-size:2rem;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
  margin-top:0;
}

.gamesList h4{
  font-size:1.5rem;
}

.gamesList em{
  font-style: normal;
  font-size:2.4rem;
  text-shadow: 2px 2px 6px rgb(129, 0, 0);
}

.gamesList figure{
  padding:0;
}

.gamesContainer a{
  text-decoration:none;
  font-weight:500;
  color:white;
  font-size:1.4rem;
}

.gamesList img{
  border-radius:20px;
  box-shadow:8px 8px 8px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.gamesContainer article{
  scale:.8;
  opacity:0;
  animation: fade-in linear forwards;
/*The following animation properties do not work on FireFox, instead it will display as static*/

  animation-range-start:entry;/*Animation starts once the article enters my screen*/
  animation-range-end:contain 100px; /*Animation starts ending once article is fully covered on my screen*/
  animation-timeline: view(); /*This allows animation that responds to the user's scrollpoint on the page, and animates once said article is viewed*/
}

#game-history{
    margin:auto;
    background-color:red;
    border-radius:10px;
    background:linear-gradient(to bottom right,#2e0000, #9b0000, #630000);
    background-size: 400% 400%;
    padding:1em;
    box-shadow:8px 8px 8px rgba(0, 0, 0, 0.5);
    width:70%;
}

#game-history img{
    border-radius:20px;
    box-shadow:8px 8px 8px rgba(0, 0, 0, 0.5);
}

#game-genres{
    background-color:red;
    border-radius:10px;
    background:linear-gradient(to bottom right,#2e0000, #9b0000, #630000);
    background-size: 400% 400%;
    padding:1em;
    box-shadow:8px 8px 8px rgba(0, 0, 0, 0.5);
    font-size:1.4rem;
}

#game-genres h2{
    margin-bottom:0;
}

footer{
    text-align:left;
}

footer a{
    color:red;
}

@keyframes fade-in{
  to{
    scale:1;
    opacity:1;
  }
}

@media (max-width: 899px) {
  .gamesList{
    flex-direction:column;
    text-align:center;
    justify-content: center;
    align-items: center;
  }

  .gamesList img{
    width:14em;
  }

  .gamesContainer p{
    font-size:1.2rem;
  }
}
