/* GAMES PAGE */

.gameJump{
  display:flex;
  flex-direction: column;
}

.gameJump a{
    margin-bottom:1em;
}

.gamesMain h2{
  font-size:2.2rem;
}

#game-genres{
  display:flex;
  flex-direction: column;
}

.gamesMain a{
  text-decoration: none;
  color:white;
  font-size:1.4rem;
}

.gamesMain a:hover{
  font-weight:600;
}

.gamesContainer{
  display:flex;
  flex-direction:column;
}

.gamesContainer p{
  font-size:1.4rem;
}

.gamesList{
  display:flex;
  text-align:left;
  background:linear-gradient(to bottom right,#2e0000, #9b0000, #630000);
  background-size: 400% 400%;
  margin-bottom:3em;
  border-radius:30px;
}

.gamesList h3{
  font-size:2rem;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}

.gamesList h4{
  font-size:1.5rem;
}

.gamesList em{
  font-style: normal;
  font-size:3rem;
  text-shadow: 2px 2px 6px red;
}

.gamesList figure{
  padding:0;
}

figcaption{
    font-size:1rem;
}
figcaption a{
    font-size:1rem;
}

.gamesContainer a{
  text-decoration:none;
  font-weight:500;
  color:white;
  font-size:1.4rem;
}

.gamesList img{
  border-radius:20px;
  box-shadow:8px 8px 8px rgba(0, 0, 0, 0.5);
}

.gamesContainer article{
  scale:.8;
  opacity:0;
  animation: fade-in linear forwards;
  animation-range-start:entry;
  animation-range-end:contain 100px;
  animation-timeline: view();
}

@keyframes fade-in{
  to{
    scale:1;
    opacity:1;
  }
}

@media (max-width: 899px) {
  .gamesList{
    flex-direction:column;
    text-align:center;
    justify-content: center;
    align-items: center;
  }

  .gamesList img{
    width:14em;
  }

  .gamesContainer p{
    font-size:1.2rem;
  }
}
