body {
  background: radial-gradient(#1f0202, #000000);
  color: white;
  text-align: center;
  margin: auto;
}

header p {
  background-image: linear-gradient(#ed0000, #7a0000);
  background-clip: text; /*This property clips the gradient above onto the header h1 text*/
  color: transparent; /*The transparent value allows the gradient to clip to the text*/
  font-family: League Spartan, Arial;
  font-size: 4rem;
  font-weight:700;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-family: Montserrat, Arial;
  font-size: 1.5rem;
  margin: auto;
  border-bottom: 0.2em solid rgba(255, 0, 0, 0.3);
  border-top: 0.2em solid rgba(255, 0, 0, 0.3);
  padding: 0.5em;
}

nav a {
  color: white;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 1em;
  text-decoration: none;
  transition: ease-in;
  transition: 0.25s;
}

.navLink:hover {
  font-weight: 500;
  background-color: #440000;
  transition: ease-in;
  transition: 0.25s;
}

a#logo {
  padding: 0;
}

#logo img {
  border-radius: 1em;
  width: 5em;
  margin: 0;
  padding: 0;
  transition: width 0.2s; /*Applies animation that changes width of image for 0.2 seconds*/
}

#logo img:hover {
  width: 5.5em; /*On hover, it enlarges the image with a smooth transition*/
}

main {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, Arial;
  width: 80%;
  margin: auto;
}

main h1 {
  font-size: 3rem;
}

main p {
  font-size: 1.5rem;
}

#titleStyle {
  background-image: linear-gradient(#ed0000, #7a0000);
  background-clip: text; /*This property clips the gradient above onto the header h1 text*/
  color: transparent; /*The transparent value allows the gradient to clip to the text*/
}

.pageLinks {
  margin: auto;
  flex-wrap: wrap;
  width: 95%;
}

.pageLinks img {
  width: 30em;
  border-radius: 20px;
  margin: 1em;
  box-shadow: 0px 0px 4px 4px rgba(255, 0, 0, 0.5);
  transition: ease-in 0.2s; /*Applies animation for 0.2 seconds*/
}

.pageLinks img:hover {
  transform: translateY(-0.8em); /*Applies translation animation on hover on the Y axis by -0.8em*/
}

footer {
  padding: 1.2em;
  text-align: center;
  font-family: Montserrat, Arial;
  font-weight: 500;
}

@media (max-width: 899px) {
  nav {
    flex-direction: column;
  }
}

@media (max-width: 690px) {
  header p {
    font-size: 3rem;
  }
  main p {
    font-size: 1.2rem;
  }
  main h1 {
    font-size: 2.5rem;
  }
  .pageLinks img {
    width: 20em;
  }

  #logo img {
    width: 3.5em;
  }

  #logo img:hover {
    width: 4em;
}
  
@media (max-width: 450px){
	.pageLinks img {
	width: 18em;
	}
}
